{% extends 'base.html.twig' %}
{% block title %}
    {{ 'Forum' }}
{% endblock %}
{% block body %}
    <div class="wrap">
        <div class="messages">
            {% for message in messages %}
                <div class="message">
                    {{ message.author }}:{{ message.message }}
                    <a href="{{ path(('app_forum_delete'),{'id':message.id}) }}">Delete message</a>
                </div>
            {% endfor %}
        </div>
        {{ form_start(form, {'action':'messages/add'}) }}
        {{ form(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
